version: 2

jobs:
  backend:
    docker:
      - image: node:latest
    steps:
      - checkout
      - restore_cache:
          keys:
            - backend-dependencies-{{ checksum "backend/package.json" }}
            - backend-dependencies-
      - run:
          working_directory: backend
          command: |
            yarn install
      - save_cache:
          paths:
            - backend/node_modules
          key: backend-dependencies-{{ checksum "backend/package.json" }}
      - run:
          name: yarn
          working_directory: backend
          command: |
            yarn install
            yarn lint
            yarn test

  frontend:
    docker:
      - image: node:latest
    steps:
      - checkout
      - restore_cache:
          keys:
            - frontend-dependencies-{{ checksum "frontend/package.json" }}
            - frontend-dependencies-
      - run:
          working_directory: frontend
          command: |
            yarn install
      - save_cache:
          paths:
            - frontend/node_modules
          key: frontend-dependencies-{{ checksum "frontend/package.json" }}
      - run:
          name: yarn
          working_directory: frontend
          command: |
            yarn install
            yarn lint
            yarn test

workflows:
  version: 2
  tilt:
    jobs:
      - backend
      - frontend
